
<div class="container d-flex justify-content-center align-items-center change-password-dialog">
    <div class="col-md-6 p-5">
      <h2 class="fw-bold text-center">Hello Admin!</h2>
      <p class="text-center text-muted">Vui lòng nhập mật khẩu mới</p>

      <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input type="password" id="newPassword" class="form-control" formControlName="newPassword" placeholder="Nhập mật khẩu mới" />
          <div *ngIf="changePassForm.get('newPassword')?.invalid && changePassForm.get('newPassword')?.touched" class="text-danger"> Mật khẩu có ít nhất 6 kí tự</div>
        </div>

        <div class="mb-3">
          <input type="password" id="confirmPassword" class="form-control" formControlName="confirmPassword" placeholder="Nhập lại mật khẩu" />
          <div
            *ngIf="changePassForm.hasError('passwordsDoNotMatch') && changePassForm.get('confirmPassword')?.touched"
            class="text-danger"
          >
            Mật khẩu xác nhận không khớp
          </div>
        </div>

        <button
          type="submit"
          class="btn  btn-dark btn-block"
          [disabled]="changePassForm.invalid"
        >
          Xác nhận
        </button>
      </form>
    </div>
  </div>