/* Đảm bảo rằng body và html chiếm toàn bộ không gian màn hình */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }
  
  app-login {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
    pointer-events: all; 
  }
  
  app-login .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  app-reset-password {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.7); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000; 
    pointer-events: all; 
  }
  
  app-reset-password .login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  